<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Подсчет арифметичекских выражений</title>
    </head>
    <body>
        <h1>Main page</h1>
        <div><a href="/settings" style="color: inherit;">settings</a></div>
        
        <form method="post">
            <div>
                <input type="text" name="expression" autofocus autocomplete="off" accesskey="Enter">
                <input type="submit">
            </div>
        </form>
        {{ if .Error}}
            <p>{{.Error}}</p>
        {{end}}
        {{range .Expressions}}
            {{if .Status}}
                <div style="background-color: greenyellow;">{{.Expression}} = {{ .Result }}    start: {{ .Start}} end: {{.End}}</div>
            {{ else}}
            <div>{{.Expression}} - computing</div>
            {{end}}
        {{end}}
    </body>
</html>